.flat-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: none !important;
}

.flat-card a {
  text-decoration: none;
  color: black;
}

.flat-card a:hover {
  color: black;
}

.flat-card a:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

.flat-card > a > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.flat-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.flat-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.flat-card .flat-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.flat-price p {
  font-weight: 700;
}

.flat-card-user {
  position: absolute;
  right: 16px;
  top: -25px;
}

.flat-card-user img {
  width: 40px;
  height: 40px;
}

.flat-card-user p {
  text-align: center;
}
