.flat-index-container {
  background-image: url("pexels-jerome-dominici-269128.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.components-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.map-container {
  margin: 30px 0 40px 0;
  border-radius: 5px;
}

.add-property-container {
  text-align: center;
  margin-top: 20px;
}

.add-property-container h4 {
  margin-top: 0;
}

.white-container {
  background-color: #fff;
  border-radius: 5px;
  margin: 24px 0;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
