footer {
  margin-top: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  display: block;
  margin-top: 15px;
}

.footer-white {
  color: purple;
  background-color: #fff;
  padding: 15px 8px;
}

.footer-purple {
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(91, 3, 198, 0.9) 0%,
    rgba(66, 29, 253, 0.9) 78%
  );
  padding: 15px 8px;
}

#copyright {
  font-size: 15px;
}
