footer {
  /* text-align: center; */
  margin-top: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  display: block;
  margin-top: 15px;
}

.footer-white {
  color: purple;
  background-color: #fff;
  padding: 15px 8px;
}

.footer-purple {
  color: #fff;
  background-color: purple;
  padding: 15px 8px;
}

#copyright {
  font-size: 15px;
}
