.mapboxgl-popup {
  max-width: 300px !important;
  border-radius: 5px;
}

.mapboxgl-popup-content p {
  margin-bottom: 0;
}

.mapboxgl-popup-content a {
  text-decoration: none;
  color: black;
}

.mapboxgl-popup-content a:hover {
  text-decoration: underline;
  color: black;
}

.mapboxgl-popup-content a:focus-visible {
  outline: none;
}

.popup-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.popup-image {
  width: 275px;
  height: 175px;
  object-fit: cover;
  text-align: center;
}
