.flat-image-show {
  height: 460px;
}

#flat-carousel {
  width: 100%;
  background-color: black;
}

.carousel-item {
  transition: transform 1s ease-in-out !important;
}

.booking-form {
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
}

#booking-form-price-per-night {
  font-weight: 500;
  font-size: 20px;
}
