.flat-image-show {
  height: 460px;
}

#flat-carousel {
  width: 50%;
  background-color: black;
}

.carousel-item {
  transition: transform 1s ease-in-out !important;
}

.booking-form {
  width: 25%;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
}
