.purple-title {
  background: linear-gradient(
    90deg,
    rgba(91, 3, 198, 1) 0%,
    rgba(66, 29, 253, 1) 100%
  );
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
